{# app/templates/test/index.html #}
{% extends 'main/base.html' %} {# Наследуем от базового шаблона #}


{% block content %}
    {# Используем контейнер Bootstrap или свой класс, который задает центрирование и отступы #}
    <div class="container my-4"> {# Добавляем вертикальные margin 4 (Bootstrap классы) #}

        {# --- Главный заголовок над двухколоночным блоком --- #}
        {# Этот заголовок мы теперь выравниваем по центру через CSS #}
        <h1 >Комплексная оценка готовности к работе в ИБ</h1> {# text-center и mb-4 из Bootstrap #}

        {# Контейнер для нашего двухколоночного раздела. Будет оформлен в CSS #}
        <div class="intro-section">

            {# Левая колонка: для информационного текста #}
            <div class="intro-left-column">
                {# Сам текст про методику и пользу #}
                <p>Данный тест разработан как часть выпускной квалификационной работы и предназначен для апробации методики оценки готовности специалистов (выпускников вузов и специалистов начального уровня) к работе в области информационной безопасности.</p>

                <p>Путем оценки ключевых Hard и Soft Skills формируется профиль компетенций, позволяющий получить представление о потенциале к различным профессиональным ролям.</p>

                <p>Участие в тестировании дает возможность получить обратную связь о собственных компетенциях и внести вклад в исследование и развитие методики.</p>

            </div> {# Конец intro-left-column #}

            {# Правая колонка: только кнопка действия #}
            <div class="intro-right-column">
                 {# Убраны h2 и p с приветствием. Оставляем только ссылку с кнопкой #}

                {# Кнопка для начала теста. Тег <button> внутри <a> для стилей (хотя чаще <a> стилизуют как кнопку) #}
                {# Мы добавим новый класс для розового цвета кнопки и оставим классы btn и btn-lg #}
                {# href ведет на маршрут start_test. mt-3 для отступа сверху. #}
                <a href="{{ url_for('test.start_test') }}" class="btn btn-pink btn-lg mt-3"> {# ДОБАВЛЕН КЛАСС btn-pink #}
                    Пройти тестирование
                </a>

            </div> {# Конец intro-right-column #}

        </div> {# Конец intro-section #}


        <footer class="index_footer">
        
        <p class="text-center text-body-secondary">VKR 2025</p>
        </footer>

    </div> {# Конец container #}
{% endblock %}